@import "tailwindcss";

@keyframes shimmer {
  30% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.glass-shimmer {
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0.04)
  );
  background-size: 200% 100%;
  animation: shimmer 6s ease-in-out infinite;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
